.logout_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    }
    .logout_link:hover {
    text-decoration: underline;
    }
    .logout_link_text {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color:#2c3e50;
    margin: 0;
    margin-left: 0.3rem;
    }