.login_wrapper {
    flex: 1;
    box-sizing: border-box;
    padding: 3rem;
    background-color:#12002b ;
}

.login_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
}

.fa-user-circle.login_icon {
    color:#2c3e50cf;
    size: 5rem;
}

.form-title {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color:#2c3e50;
    font-weight:600;
}

.label-form {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color:#2c3e50;
    font-weight:500;
}

.input_login_wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.input_login_wrapper input {
    padding: 3px;
    font-size: 1.2rem;
}

.input_login_wrapper label {
    font-weight: bold;
}

.remember_wrapper {
    display: flex;
}

.remember_wrapper label {
    margin-left: 0.25rem;
}

.error_message {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    margin-top: 10px;
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}