.edit_names_button {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    border-color: #00bc77;
    background-color: #00bc77;
    color: white;
    font-weight: bold;
    width: 145px;
    padding: 10px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}